[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = PT
ST  = Lisbon
L   = Oeiras
O   = Lemon
OU  = Lemon
CN  = 192.168.2.2
emailAddress = lemonbrowserclient@gmail.pt

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.2.2
