[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = PT
ST  = Lisbon
L   = Oeiras
O   = LemonCA
OU  = LemonCA
CN  = 192.168.1.2
emailAddress = lemon-ca@gmail.pt

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.1.2
